body {
  background: #fdfdfd;
}

.form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 460px;
}

.invalid-feedback {
  display: block;
}

.avatar-container {
  width: 100%;
  margin-bottom: 30px;
}

.avatar-container img {
  display: block;
  margin: 0 auto;
  width: auto;
  max-height: 300px;
}

.list-item {
  position: relative;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-right: 40px;
  list-style-type: none;
  background-color: #b5b5b5;
  text-align: center;
  line-height: 30px;
}

.list-item:last-child {
  margin-right: 0;
}

.list-item:last-child:before {
  display: none;
}

.list-item:before {
  content: "";
  width: 30px;
  height: 1px;
  border-top: 5px dotted #b5b5b5;
  display: block;
  position: absolute;
  top: 50%;
  right: calc(-100% - 20px);
  transform: translate(-50%, 0%);
}

.list-item-notactive:after {
  content: "✔";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

.list-item-notactive:before {
  border-top: 5px dotted #00ad5a;
}

.list-item-notactive {
  background-color: #00ad5a;
  display: block;
  color: rgba(0, 0, 0, 0);
}
