body {
  background: #fdfdfd;
}

.form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 460px;
}

.invalid-feedback {
  display: block;
}

.avatar-container {
  width: 100%;
  margin-bottom: 30px;
}

.avatar-container img {
  display: block;
  margin: 0 auto;
  width: auto;
  max-height: 300px;
}
